.header{
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3rem 0 1rem 10rem;

  .header-content{
    max-width: 1920px;
    width: 100%;
    display: flex;
    align-items: center;

    .header-img{
      height: 50px;
    }

    .header-nav{
      margin-left: 3rem;
      a{
        color: #fff;
        margin: 20px;
        font-weight: 300;
      }
    } 
  }
}

