<section class="s-content">
  <!--  <img class="forma" src="assets/img/section1/squircle.svg" alt="" /> -->

  <div class="s-content-init">
    <div class="person-img"></div>

    <div class="s-content-apt">
      <h2 class="s-content-title">
        “Tudo com <br />metodologia <br />dá certo”
      </h2>
      <p>
        Para mim a metodologia é essencial dentro de um projeto de criação<br />
        de marca, porque ela está além da técnica e da criatividade,
        possibilitando <br />
        um resultado único e que, de fato, funciona.
      </p>
      <p>
        É através de um processo baseado em uma metodologia robusta <br />
        e consistente que tenho chegado a projetos incríveis, que têm <br />
        transformado e mudado a percepção dos negócios <br />
        dos meus clientes.
      </p>
    </div>
  </div>

  <div class="s-content-logos">
    <span
      ><img src="assets/img/section2/chevron-down-svgrepo-com.svg" alt=">" />
      Meus projetos mais recentes
      <img src="assets/img/section2/chevron-down-svgrepo-com.svg" alt=">"
    /></span>
  </div>
</section>
