.s-content{
  border: solid 1px #000000;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 2% 4% 1% 4%;
  align-items: center;
  justify-content: space-between;


  .forma{
    position: absolute;
    left: 150rem;
    top: 75rem;
    width: 200px;
    height: 200px;
    z-index: 2;
    transform: scale(3.5);
    rotate: 170deg;

  }

  .s-content-init{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: auto;
    margin-bottom: 5%;

    .person-img{
      width: 300px;
      height: 430px;
      background-color: rgb(72, 113, 146);
      margin-right: 4%;
    }
  
    .s-content-apt{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: solid 1px #000000;

  
      .s-content-title{
        font-size: 4vw;
        font-weight: 500;
        margin-bottom: 2%;
       }
  
       h4{
        margin-bottom: 2%;
        font-size: 1.8vw;
        font-weight: 300;
        line-height: 2vw;
       }
  
       p{
        font-size: 1.2vw;
        line-height: 1.2vw;
       }
  
    }
  }

  

  .s-content-logos{
    border: solid 1px #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: auto;

    .logos-list{
      margin: 10px;
      width: 200px;
      height: 30px;
      background-color: #3f3f3f;
    }
  }
}