<section class="s-content">
  <!--  <img class="forma" src="assets/img/section1/squircle.svg" alt="" /> -->

  <div class="s-content-init">
    <div class="person-img"></div>

    <div class="s-content-apt">
      <h2 class="s-content-title">Quem sou eu?</h2>
      <h4>
        Me chamo Max Paulo e sou um designer minimalista<br />
        apaixonado por criação de marcas.
      </h4>
      <p>
        Meu maior objetivo é entregar aos meus clientes projetos funcionais,
        baseados<br />
        em conceito e que carregam uma história. Crio marcas que vão além da
        estética;<br />
        Crio marcas que funcionam.
      </p>
    </div>
  </div>

  <div class="s-content-logos">
    <div class="logos-list"></div>
    <div class="logos-list"></div>
    <div class="logos-list"></div>
    <div class="logos-list"></div>
    <div class="logos-list"></div>
    <div class="logos-list"></div>
    <div class="logos-list"></div>
  </div>
</section>
